.registerText {
  color: #525252;
  opacity: 50%;
  font-size: 18px;
}
#TextosEndereço {
  height: 990px;
}
#loginInputs {
  display: flex;
}
.inputsRegistro {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0px;
}

.custom-checkbox input:checked {
  background-color: #272525;
  border-color: #272525;
}
#checkbox-shake {
  margin-bottom: 200px;
}
#criarButton {
  background-color: #272525;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  color: #fff;
  padding: 24px, 32px, 24px, 32px;
  gap: 16px;
  width: 388px;
  height: 35px;
  text-decoration: none;
}
#criarButtonA {
  color: white;
  text-decoration: none;
}
#registerInputs input {
  height: 50px;
  border-radius: 10px;
  /* border: 1px solid #D9D9D9; */
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 5px;
  justify-content: center;
}

.fisrt-inf-index {
  padding-top: 0px !important;
  flex-direction: column;
  align-items: center;
}

.fisrt-inf-index > * {
  max-width: 50%; /* Defina a largura máxima desejada */
  margin: 0 auto; /* Centralize horizontalmente */
}
#criarButton {
  height: 50px;
  font-weight: bold;
  font-size: 18px;
}
#registerText {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.teste {
  height: 300px;
}
.registerfont {
  margin-right: 0px;
  margin-left: 0px;
}
.formaPagamento {
  width: 54%;
}

.formaPagamento select:checked {
  background-color: #272525;
  color: red; /* Define a cor do texto dentro da opção selecionada */
}
.shakeit {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
    0% {transform : translateX(0);}
    25% {transform : translateX(5px);} 
    50% {transform : translateX(-5px);}
    75% {transform : translateX(5px);}
    100% {transform : translateX(0);}
}
@media (max-width: 1491px) {
  .fisrt-inf-index {
    padding: 10px;
  }
}
@media (max-width: 998px) {
  .fisrt-inf-index {
    padding: 25px;
  }
}
