#header-things {
  color: grey;
  max-width: 100%;
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#header-things:hover {
  color: #272525;
  background-color: transparent;
  transition: 0.5s ease;
}

#LoginButton {
  background-color: #272525;
  font-family: Poppins;
  border-radius: 100px;
  color: #fff;
  width: 8rem;
  min-width: 100%;
  height: 2.5rem;
  flex-shrink: 0;
  gap: 16px;
}

.input-iconeLupa {
  border: none;
  margin-bottom: 5px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3px;
  margin-left: 0.3rem;
  position: relative;
  width: 11rem;
  height: 1.6rem;
  gap: 0.5rem;
  flex-shrink: 0;
}

.input-iconeLupa:focus {
  outline: none;
}

.search-icon {
  color: grey;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  border: none;
  margin-bottom: 5px;
  justify-content: center;
  position: relative;
}

.divInput {
  border: solid #d9d9d9 1px;
  border-radius: 5px;
  position: relative;
}

#versaLogo {
  font-family: Syne;
  font-weight: 400px;
  font-size: 2rem;
  background: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
}
