#header-things {
    color: black;
    max-width: 100%;
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  #header-things:hover {
    color: #272525;
    background-color: transparent;
    transition: 0.5s ease;
  }
  
  #LoginButton {
    background-color: #272525;
    font-family: Poppins;
    border-radius: 100px;
    color: #fff;
    width: 8rem; /* Largura fixa de 8rem */
    max-width: 100%; /* Largura máxima de 100% do elemento pai */
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .input-iconeLupa:focus {
    outline: none;
  }
  
  .search-icon {
    color: grey;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    border: none;
    margin-bottom: 5px;
    justify-content: center;
    position: relative;
  }
  
  .divInput {
    border: solid #d9d9d9 1px;
    border-radius: 5px;
    position: relative;
  }
  
  #versaLogo {
    font-family: Syne;
    font-weight: 400px;
    font-size: 2rem;
    background: transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    flex-shrink: 0;
  }
.bordinha_teste_header{
  border: 1px solid red;
}

@media (min-width: 930px) and (max-width: 991px){
  .align_button_mobile{
    margin-left: 430px;
  }
}

@media (min-width: 769px) and (max-width: 929px){
  .align_button_mobile{
    margin-left: 380px;
  }
}

@media (min-width: 730px) and (max-width: 768px){
  .align_button_mobile{
    margin-left: 225px;
  }
}

@media (min-width: 680px) and (max-width: 729px){
  .align_button_mobile{
    margin-left: 180px;
  }
}

@media (min-width: 640px) and (max-width: 679px){
  .align_button_mobile{
    margin-left: 130px;
  }
}

@media (min-width: 600px) and (max-width: 639px){
  .align_button_mobile{
    margin-left: 90px;
  }
}

@media (min-width: 576px) and (max-width: 599px){
  .align_button_mobile{
    margin-left: 60px;
  }
}

@media (min-width: 530px) and (max-width: 575px){
  .align_button_mobile{
    margin-left: 180px;
  }
}

@media (min-width: 490px) and (max-width: 529px){
  .align_button_mobile{
    margin-left: 140px;
  }
}

@media (min-width: 450px) and (max-width: 489px){
  .align_button_mobile{
    margin-left: 100px;
  }
}

@media (min-width: 410px) and (max-width: 449px){
  .align_button_mobile{
    margin-left: 60px;
  }
}

@media (min-width: 370px) and (max-width: 409px){
  .align_button_mobile{
    margin-left: 25px;
  }
}