.container_nr{
    /* border: 1px solid red; */
    margin: 0 auto;
  

    width: 85%;
}

.texto_novas h1 span{
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 141.5%;
}

.texto_novas h1{
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 1;
    line-height: 141.5%;
}

.imagens_nova{
    
    margin-top: 38px;
    display: flex;
}

.imagem_meio_nr{
    margin-left: 59px;
    margin-right: 58px;
    /* border: 1px solid red; */
 }

.img_s_nr{
    /* border: 1px solid red; */
    transition: transform 0.8s;
    width: 500px;
    height: 629px;
}

.img_s_nr:hover{
    transform: scale(0.98); 
}

.novidades{
    margin-top: 99px;
    width: 100%;
    height: 88px;
    background: white;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.5%;
    font-variant: all-small-caps;
    transition: transform 0.8s;
}

.novidades:hover{
    transform: scale(0.98);

}

.imagens_nova h2{
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.5%;
    font-variant: all-small-caps;
}

.imagens_nova p{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.5%;
}