.registerImage {
  width: 100%;
  max-height: 900px;
  margin-top: -50px !important;
}

.registerText {
  color: #525252;
  opacity: 50%;
  font-size: 18px;
}
.logoregistro1 {
  margin-bottom: 0px;
  margin-top: 40px;
  padding-left: 30px;
}
.registerTagA {
  height: 30px;
}

#loginInputs {
  display: flex;
}
.inputsRegistro {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0px;
}
#criarButton {
  background-color: #272525;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  color: #fff;
  padding: 24px, 32px, 24px, 32px;
  gap: 16px;
  width: 388px;
  height: 35px;
}
#registerInputs input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  padding: 30px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.fisrt-inf-index-Register {
  padding: 30px !important;
}
#criarButton {
  height: 50px;
  font-weight: bold;
  font-size: 18px;
}
#registerText {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.teste {
  height: 300px;
}
.registerfont {
  margin-right: 0px;
  margin-left: 0px;
}
@media (max-width: 1491px) {
  .fisrt-inf-index {
    padding: 10px;
  }
}
@media (max-width: 998px) {
  .fisrt-inf-index {
    padding: 25px;
  }
}
