.configImagemP{
height: 730px;
border-radius: 20px;
}

.imagem_teste button {
        background-image: url('../images/InfoProduto/SliderCrop1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
}
