.caixa_centro{
    /* border: 1px solid red; */
    display: flex;
    width: 93%;
    margin: 100px auto;
}
.group{
    flex-direction: column;
}
.borda{
    margin-top: 10px !important;
    margin: auto;

}

/* .borda_teste{
    border: 1px solid red;
} */

