.caixa_centro{
    /* border: 1px solid red; */
    display: flex;
    width: 93%;
    margin: 100px auto;
}
.group{
    flex-direction: column;
}
.borda{
    margin: auto;
    /* border: 1px solid red; */

}

/* .borda_teste{
    border: 1px solid red;
} */

