.container_np{
    /* border: 1px solid red; */
    margin: 0px auto;
    width: 85%;
}

.hover_click_np{
    /* border: 1px solid red; */
    transition: transform 0.8s;
}

.hover_click_np:hover{
    transform: scale(0.98); 
    cursor: pointer;
}

.mais_pacotes{
    margin-top: 49px;
    margin-bottom: 100px;
    width: 100%;
    height: 88px;
    background: white;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.5%;
    font-variant: all-small-caps;
    transition: transform 0.8s;
}

.mais_pacotes:hover{
    transform: scale(0.98);

}