.logoFooter{
    padding-left: 10px;
    justify-content: start;
}
.menuFooter {
    opacity: 60%;
    color: #dd2361;
    font-size: 14px;
}
.informacoesFooter{
    opacity: 60%;
    color: #a81043; 
    font-size: 14px;
    padding: 0%;
}

.footerLists{
justify-content: center;
display: flex;
}
.sectionFooter{
    font-family: 'Inter', sans-serif;
    display: flex;
    /* justify-content: center; */
}
.footerUp li {
    list-style: none;
    
}
.footerUp a{
    text-decoration: none;
    color: #fff;
}
.footerUp h5{
    color: gray;
    font-weight: bold;
}
Footer{
    background-color: #272525;
}
Footer button{
    background-color: #272525 !important;
}
.navigation-footer{
    padding-left: 350px;
}
@media screen and (max-width: 768px) {
    .navigation-footer{
    padding-left: 10px;
    }
}