
.registerImage{
    width: 100%;
}

.registerText{
    color: #525252;
    opacity: 50%;
    font-size: 18px;
}

#loginInputs{
display: flex;
}
.inputsRegistro{
font-size: 21px;
font-weight: bold;
margin-bottom: 0px;
}
#criarButton{

    background-color: #272525;
    font-family: Poppins;
    border-radius: 10px;
    color: #fff;
    padding: 24px, 32px, 24px, 32px;
    gap: 16px;
    width: 388px;
    height: 35px;

}
#registerInputs input{
height: 50px;
border-radius: 10px;
border: 1px solid #D9D9D9;
padding: 12px;
margin-bottom: 15px;
margin-top: 5px;
}

.fisrt-inf-index{
    padding: 100px;

}
#criarButton{
height: 50px;
font-weight: bold;
font-size: 18px;
}
#registerText{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.teste{
height: 300px;
}
.registerfont{
    overflow-y: hidden; 
}
@media (max-width: 1491px) {
    .fisrt-inf-index{
        padding: 10px;
    }
}
@media (max-width: 998px) {
    .fisrt-inf-index{
        padding: 25px;
    }
}