@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container_as {
  width: 85%;
  margin: 69px auto;
  /* border: 1px solid red; */
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.imagem_as {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150rem;
}

.opcao_estilo {
  margin-top: 47px;
  margin-right: 1rem;
  width: 560px;
}

.opcao_estilo p {
  font-family: "Roboto", sans-serif;
  font-size: 1.359rem;
  font-style: normal;
  font-weight: 400;
  line-height: 141.5%;
  color: black;
}

.opcao_estilo button {
  margin-top: 16px;
  width: 20rem;
  height: 3.559rem;
  background: #fff;
  border-radius: 40px;
  font-family: Poppins;
  font-size: 1.65rem;
  font-style: normal;
  font-weight: 600;
  line-height: 141.5%;
  font-variant: all-small-caps;
  transition: transform 0.8s;
  text-decoration: none;
}

.opcao_estilo button:hover {
  transform: scale(0.98);
}
