@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.registerfont{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: Syne, Poppins, sans-serif;
}

body{
    background: #fff;
}

