@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

@font-face {
    font-family: Syne;
    src: url(https://fonts.googleapis.com/css?family=Syne);
}

@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css?family=Poppins);
}

.registerfont{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
}

