* {
  padding: 0;
  margin: 0;
}

.layoutP {
  /* border: 1px solid red; */
  max-width: 93%;
  margin: auto;
}
.tabelaMedida {
    background-color: #272525;
    font-family: Poppins;
    border-radius: 100px;
    color: #fff;
    width: 6rem; 
    max-width: 80%; 
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.tabelaMedida:hover {
    background-color: #1B1819;
}